.fuse*
*.swp
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.blg
*-blx.bib
*.bcf
*.run.xml
*.synctex
*.tcp
*.tps
*.synctex.gz
*.fdb_latexmk
.vscode
*.code-workspace
pydht/__pycache__/
pydht/placements/__pycache__/
pydht/nodeList/__pycache__/
pydht/nodeList/node/__pycache__/

